@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h4>Managed Thread Id: @System.Threading.Thread.CurrentThread.ManagedThreadId</h4>
<h2>Claims inside Current Thread</h2>
<h4><em>Claim Type</em> &rarr; <em>Claim Value</em></h4>
<ol>
    @foreach (var claim in User.Claims)
    {
        <li>@Html.Raw(claim.Type) &rarr; <strong>@claim.Value</strong></li>
    }
</ol>

<address>
    Running from the Microsoft Azure cloud!<br />
    <abbr title="Phone">T:</abbr>
    <a href="https://twitter.com/pageofphotos">@@pageofphotos</a>
</address>

<address>
    <strong>Looking for help?</strong> Send us a tweet: <a href="https://twitter.com/pageofphotos">@@pageofphotos</a><br />
</address>
